/.venv/
/__pycache__/
/cache/
/data/
uv.lock

# Large game assets ignored
rpg_games/*/*
renpy_games/*/*
retro_games/*/*
slg_games/*/*

# Preserve folder structure and adapters
!rpg_games/*/.gitkeep
!renpy_games/*/.gitkeep
!retro_games/*/.gitkeep
!slg_games/*/.gitkeep

!rpg_games/*/adapter.js
!slg_games/*/adapter.js
